
.container1>.white {
    padding: 5550px;
    background-color: white;
    
    border-width: 10px;
}

.container1>div>.blue {
    padding: 10px;
    background-color: dodgerblue;
}

.top-half {
    display: flex;
    justify-content: space-between;
}



.filler-text {
    font-size: small;
}

.fa-circle {
    font-size: xx-small;
    margin: 10px;
    color: blue;
}

.filler-jumk {
    justify-content: center;
    display: flex;
}

.icon-bar {
    display: flex;
    border: 1rem;
    justify-content: space-around;
    border-color: black;
}

.chad {
    padding: 3rem;
}


.info-container {
    display: flex;
    border: 1rem;
    border-color: black;
    justify-content: center;

}

.info-section {
    border-left: 1rem;
    border-color: blue;
}


.txt-container {
    display: flex;
    justify-content: center;

}
table,
table td {
  border: 1px solid #cccccc;
}

td {
  height: 80px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}

.bottom{
    background-color: dodgerblue;
}

.footer-header{
justify-content: space-around;
}

.top-text {
    color: grey;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.btn {
    max-width: 100%;
}



.icon-boxes {
    display: flex;
    justify-content: center;
}

.icon-table{
    justify-content: center;
}

.navbar{
    max-width:auto;
}

.nav-item{
    text-align: center;
    padding-left: 8rem;
    color:white;
}
.navbar {
    background:dodgerblue;
}
.txtcont {
    background-color: dodgerblue;
}
