.leftside, .rightside {

    height:100vh;
    width: 100%;
}

.leftside {

    background: blue ;
    border-bottom-right-radius: 100%
}

.rightside{
    
    background: whitesmoke;
}
.message {
    text-align: center;
    padding-top: 150px;
    color: white;
}
.message1 {
    padding-top: 2rem;
}
.button4{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    border
}
.button3{
    border-radius: 25px;
    padding: 20px; 
    width: 340px;
    height: px; 
}
#ip2 {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
    width: 340px;
    height: 15px;    
}

.button5 {
    border-radius: 25px;
    padding: 20px; 
    width: 340px;
    height: px; 
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    
}
    .Sign {
        text-align: center;
        margin-top: 0;
        font-size: large;
    }

.row {
    display: flexbox;
}
.message3{
    text-align: center;
    padding-top: 150px;
    color: black
}

.message1{
    text-align: center;
    padding-top: 10px;
    
}
.moveit{
display: flex;
justify-content: center;
padding-top: 10%
}