.embed-label {
    position: absolute;
    top: 10px;
    left: 15px;
}

.my-input {
    padding: 10px 10px 10px 40px;
}

.icon-button i {
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 50%;
    padding: 1rem;
    font-weight: 900;
    font-size: larger;
}